<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <h4
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>User</span>
      <span><i class="bi bi-person-lines-fill"></i></span>
    </h4>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          [routerLink]="['/home']"
          routerLinkActive="active"
        >
          <span><i class="bi bi-house-fill"></i></span>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sales']" routerLinkActive="active">
          <span><i class="bi bi-credit-card"></i></span>
          Vender
        </a>
      </li>
    </ul>

    <h4
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Company</span>
      <span><i class="bi bi bi-building"></i></span>
    </h4>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#layout-collapse-almacenes"
          aria-expanded="false"
        >
          <span><i class="bi bi bi-building"></i></span>
          Empresa
        </a>

        <div class="collapse" id="layout-collapse-almacenes">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/almacenes']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Almacenes
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/productos']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Productos/Servicios
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/comprobanteCobro']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Comprobantes
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#layout-collapse"
          aria-expanded="false"
        >
          <span><i class="bi bi-upc-scan"></i></span>
          Facturacion/Finanzas
        </a>

        <div class="collapse" id="layout-collapse">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/facturar']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Por Facturar
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/facturas']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Pendiente de cobro
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/comprobanteCobro']"
                routerLinkActive="active"
              >
                <span><i class="bi bi-record-fill"></i></span>
                Comprobantes
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-truck"></i></span>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-archive-fill"></i></span>
          Almacenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-file-earmark-person"></i></span>
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-upc-scan"></i></span>
          Ventas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-file-earmark-bar-graph"></i></span>
          Reports
        </a>
      </li>

    </ul>

    <h4
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Admin</span>
      <span><i class="bi bi-shield-exclamation"></i></span>
    </h4>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-truck"></i></span>
          Empresas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-file-earmark-person"></i></span>
          Impuestos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-shield-check"></i></span>
          Permisos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="bi bi-tools"></i></span>
          Soporte
        </a>
      </li>
    </ul>
  </div>
</nav>
